.contact-form{
    display: flex;
    height: 85%;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
.input-box{
    border: 1px solid black;
    border-radius: 20px;
    flex-grow: 1;
    color: black;
    font-size: 1.5rem;
    padding-left: 20px;
    margin: 0px 30px;
    margin-bottom: 25px;
    background-color: rgba(127, 127, 127, 0.5);
}
.input-box:focus{
    outline: none;
}
.input-box::placeholder{
    color: black;
}
.message{
    flex-grow: 5;
    font-size: 1.9rem;
}
.Submit-btn{
    flex-grow: 1;
    background-color: midnightblue;
    border-radius: 30px;
    width: 30%;
    margin: 0 auto;
    margin-top: 2px;
    height: 2.5rem;
    font-size: 1.7rem;
    color: oldlace;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease;
}
.Submit-btn:hover{
    box-shadow: 5px 5px 8px black;
    cursor: pointer;
}
.project-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.project-design{
    background-color: rgba(127, 127, 127, 0.8);
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
}
.project-list{
    width: 40%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 20px;
}
.project-list::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
.project-list::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 10px;
}
.project-list::-webkit-scrollbar-track{
  background: transparent;
}
.project-name{
    background-color: cadetblue;
    height: 40px;
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3px;
}
.project-name:hover{
    cursor: pointer;
}
.project-info{
    margin-left: 10px;
    padding: 20px;
    border-left: 1px solid black;;
    flex-grow: 1;
    font-size: 3rem;
}