@font-face {
    font-family: "Pacifico";
    src: url('./assets/Pacifico-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Dosis";
    src: url('./assets/Dosis-VariableFont_wght.ttf') format("truetype");
}
@font-face{
    font-family: "dwd";
    src: url("./assets/TradeWinds-Regular.ttf") format("truetype");
  }
  @font-face{
    font-family: "robo";
    src: url("./assets/Roboto-Black.ttf") format("truetype");
  }
#top-logo {
    position: relative;
    top: 20px;
    height: 90px;
}

.center-text{
    /* position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); */
}
.title-text{
    font-size: 11rem;
    color: aliceblue;
    font-family: 'robo';
    font-weight: 800;
    background-image: url("./assets/source.gif");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-position: center;

}
.info-buttons{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    width: 450px;
    flex-wrap: wrap;
    margin: -10px 0 0 0;
    justify-content: space-around;
    position: relative;
    bottom: 20px;;
}
.social-btn{
    /**background-color: rgba(127, 127, 127, 0.4); **/
    border: 1px solid rgb(51, 51, 51);
    color: aliceblue;
    font-size: 5rem;
    width: 86px;
    height: 86px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    transition: transform 0.2s ease-in, background-position 0.4s ease-in, border 0.4s ease-in;
}
.social-btn:hover {
    border-width: 3px;
    border-color: #f5f5f5;
}
.social-btn img{
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
    cursor: pointer;
    filter: invert(0.2);
    transition: filter 0s ease-in;
}
.social-btn:hover >  img {
    filter: invert(0.9);
}
#insta:hover ,#github:hover ,#twitter:hover ,#mail:hover{
    transform: scale(1.3) translateY(-10px);
    background-position: center bottom;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fly-in {
    0% {
        opacity: 0;
        transform: scale(3) translateY(100%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
@keyframes from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
} 
@keyframes from-right {
    0% {
        transform: translateX(+100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.main-screen-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    animation: fade-in ease 1.3s;
}
#insta{
    background: linear-gradient(to bottom,rgba(160, 154, 154, 0) 50%, #CF2872 50%);
    background-size: 200% 200%;
    background-position: center top;
}
#github{
    background: linear-gradient(to bottom,rgba(160, 154, 154, 0) 50%, #10315D 50%);
    background-size: 200% 200%;
    background-position: center top;
}
#twitter{
    background: linear-gradient(to bottom,rgba(160, 154, 154, 0) 50%, #1C9CEB 50%);
    background-size: 200% 200%;
    background-position: center top;
}
#mail{
    background: linear-gradient(to bottom,rgba(160, 154, 154, 0) 50%, #CE4436 50%);
    background-size: 200% 200%;
    background-position: center top;
}
.bottom-screen{
    box-sizing: border-box;
    padding: 10vh 5vw 0vh 5vw;
    height: 100vh;
    width: 100vw;
    border-radius: 10% 10% 0px 0px;
    background-color: rgba(94, 90, 90, 0.81);
    backdrop-filter: blur(20px);
    animation: fly-in ease 1s;
}
.bottom-grid{
    display: grid;
    grid-template-areas: 'info projects'
                          'contact projects';
    grid-template-columns: 42.5vw 42.5vw;
    grid-template-rows: 25vh 50vh;
    grid-column-gap: 5vw;
    grid-row-gap: 5vh;
}
.info-me{
    grid-area: info;
    padding: 10px;
    padding-top: 20px;
    background-color: #B6B4A4;
    border-radius: 20px;
    box-sizing: border-box;
    transition: transform 0.2s ease;
    box-shadow: 10px 9px 2px 5px rgba(0, 0, 0, 0.25);
    animation: fly-in ease 1s, from-left ease 1s;
    animation-delay: 0.1;
}
.info-title{
    font-size: 3rem;
    width: fit-content;
    margin: 0 auto;
}
.info-text{
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.contact{
    grid-area: contact;
    padding: 10px;
    padding-top: 13px;
    background-color: #97A3A4;
    border-radius: 20px;
    box-sizing: border-box;
    animation: fly-in ease 1s, from-left ease 1s;
    animation-delay: 0.2;
}
.projects{
    grid-area: projects;
    padding: 10px;
    padding-top: 13px;
    background-color: #A8AFA8;
    border-radius: 20px;
    box-sizing: border-box;
    transition: transform 0.2s ease;
    box-shadow: 10px 9px 5px 1px rgba(0, 0, 0, 0.25);
    animation: fly-in ease 1s, from-right ease 1s;
    animation-delay: 0.3;
}
.contact-title{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 3rem;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 8px;
}
.info-me:hover, .projects:hover{
    transform: scale(1.03);
    box-shadow: 5px 10px 18px chocolate ;
}
.footer{
    width: 100%;
    border-top: 1px solid white;
    margin-top: 27px;
    padding: 15px 0;
}
.footer-text{
    color: cornsilk;
    width: fit-content;
    font-size: 1.2rem;
    margin: 0 auto;
}
@media screen and (max-width: 1155px) {
    .bottom-grid{
        display: grid;
        grid-template-areas: 'info projects'
                             'contact projects';
        grid-template-columns: 35vw 50vw;
        grid-template-rows: 25vh 50vh;
        grid-column-gap: 5vw;
        grid-row-gap: 5vh;
    }
    .Submit-btn{
        font-size: 1.5rem;
        padding: 8px;
        width: 40%;
    }
}
@media screen and (max-width: 450px) {
    .title-text {
      font-size: 8rem;
    }
    .center-text{
        top: 40vh;
    }
    .bottom-grid{
        grid-template-areas: 'info'
                            'projects'
                            'contact';
        grid-template-columns: 90vw;
        grid-template-rows: auto 80vh;
        grid-column-gap: 0;
        grid-row-gap: 5vh;
    }
    .bottom-screen{
        height: fit-content;
    }
    .project-name{
        font-size: 1.3rem;
    }
    .project-list::-webkit-scrollbar{
        height: 0px;
        width: 0px;
    }
    .project-info::-webkit-scrollbar{
        height: 0px;
        width: 0px;
    }
  }
@media screen and (max-width: 360px) {
    .project-name{
        padding: 5px;
    }
}