body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color:  #020C13;
    background-image: url('./assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*{
    user-select: none;
}